# Prisma
DATABASE_URL=
# emailJS
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
# App
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
REDIS_HOST=
REDIS_PORT=
# Cloudinary
CLOUDINARY_URL=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=