# Prisma
DATABASE_URL=
# emailJS
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
# App
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
# Cloudinary
CLOUDINARY_URL=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=